.header-height {
  height: 8vh;
}
.header-logo {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 35px;
}
.header-name {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
}
.image-contain {
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.image-detail {
  width: 400px;
  height: 400px;
}
.image-container-cart {
  height: 100%;
  width: 40%;
}
.image-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.card-list {
  height: 600px;
}
.card-cart {
  height: 400px;
}
.card-body-list-item {
  width: 90%;
}
.card-body-cart {
  width: 60%;
}
.text-price {
  color: grey;
}
.text-short-description {
  overflow: hidden;
}

.back-to-catalog {
  height: 30px;
  font-size: 20px;
  color: grey;
}
.shopping-cart {
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.cart-items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.cart-title,
.empty-cart {
  font-size: 35px;
  font-weight: bold;
}

.cart-total-price,
.cart-product-name {
  font-size: 30px;
}
.cart-total-price{
  font-weight: bold;
}
.cart-product-price {
  color: grey;
  font-size: 25px;
  font-weight: bold;
}
.cart-product-short-description {
  font-size: 20px;
}

.button-height {
  height: 60px;
}

.order-total-price {
  font-size: 30px;
  font-weight: bold;
  color: grey;
}

.order-input {
  height: 50px;
  font-size: 25px;
}

.order-textarea-address,
.input-title {
  font-size: 25px;
}

.input-title {
  font-weight: bold;
}

.valid-input {
  border: 5px solid green;
}
.invalid-input {
  border: 5px solid crimson;
}
.valid-input-comment {
  color: green;
  font-weight: bold;
}
.invalid-input-comment {
  color: crimson;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}
